{% extends "_base.html" %}

{% block content %}

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Twitter API</a>
            </div>
            <!-- /.navbar-header -->

           
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        
                            <!-- /.nav-second-level -->
                        
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">User Information</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
										<input disabled id="country" type="text">
											{{ country }}
										</input>
                                        <th for ="country">Country</th>
										<input disabled id="datecreated" type="text">
											{{ datacreated }}
										</input>
                                        <th for="datacreated">Date Created</th>
										<input disabled id="displayname" type="text">
											{{ displayname }}
										</input>
                                        <th for="displayname">Display Name</th>
										<input disabled id="favourites_count" type="text">
											{{ favourites_count }}
										</input>
                                        <th for="favourites_count">Favourites Count</th>
										<input disabled id="followers_count" type="text">
											{{ followers_count }}
										</input>
                                        <th for="followers_count">Followers Count</th>
										<input disabled id="friends_count" type="text">
											{{ friends_count }}
										</input>
										<th for="friends_count">friends_count</th>
										<input disabled id="Lt" type="text">
											{{ Lt }}
										</input>
										<th for="Lt">Location of Tweet</th>
										<input disabled id="message" type="text">
											{{ message }}
										</input>
										<th for="message">message</th>
										<input disabled id="profileaddress" type="text">
											{{ profileaddress }}
										</input>
										<th for="profileaddress">Profile Address</th>
										<input disabled id="retweet_count" type="text">
											{{ retweet_count }}
										</input>
										<th for="retweet_count">retweet_count</th>
										<input disabled id="st" type="text">
											{{ st }}
										</input>
										<th for="st">Source of Tweet</th>
										<input disabled id="summary" type="text">
											{{ summary }}
										</input>
										<th for="summary">Summary</th>
										<input disabled id="text_id" type="text">
											{{ text_id }}
										</input>
										<th for="text_id">Text Id</th>
                                    </tr>
                                </thead>
                                
                                    
                            </table>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
          
            <!-- /.row -->

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

{% endblock %}
